header {
	background-color: beige;
}

img{
	width: 20%;
}

h1{
	color: blue;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	float: left ;
	width: 60%;
	text-align: center;
}

main {
	background-color: darkgrey;
	padding: 15px;
}

h2 {
	color: rgb(61, 106, 231);
	font-size: 35px;
	text-align: center;
	letter-spacing: 5px;
}

p, input, button {
	font-family: cursive;
	font-size: 20px;
}

footer{
	background-color: black;
	color:white;
	text-align: center;
	height: 50px;
}

footer p {
	margin:0;
}

div{
	width:80%;
	margin:auto;
}
